/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
.button{
    display: inline-block;
    text-decoration: none;
    padding: 16px;
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: white;
    color: black;
}



/* TYPO */
body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header{
    padding: 30px 0; 
    background-color: #2f57e3;
}
.header-col-big{
    width: 75%;
}
.header-col-little{
    width: calc(25% /2);
}
.header-col-little,.header-col-big{
    float:left;
}

header img{
    float: left;
    padding: 16px;
}
header ul{
    text-align: center;
}

header ul li,header ul li a{
    display: inline-block;
    text-decoration: none;
    color:white;
    text-transform: capitalize;
}
header ul li a{
    font-size: 20px;
    padding: 16px;
    font-weight: bold;
}


header .button{
    float:right;

}

/* HERO SECTION */
.hero{
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero.wrapper{
    text-align: center;
    background-image: none;
    max-width: 800px;
    margin:auto;
    padding:200px 0;
    color: white;
}
.hero h1{
    padding-bottom: 50px;
    font-size: 48px;
}
.hero p{
    font-weight: bold;
    padding-bottom:25px;
}
.hero.wrapper a {
    margin: 0 20px;
}
.hero.wrapper a:last-child{
    color: white;
    background-color: black;
}

/* SECTION 1 */
.wrapper{
    max-width: 1300px;
    margin:auto;
}
section{
    padding: 150px 0;
}
section:nth-child(2n + 1){
    background-color: #f6f6f6;
}
section h2{
    font-size: 48px;
    margin-top: 40px;
}
section p{
    padding-top: 30px;
    font-size: 20px;
    line-height: 30px;
}
section:last-of-type{
    text-align: center;
}

.col-big,.col-little{
    float: left;
}
.col-big{
    width: 75%;
}
.col-little{
    width: 25%;  
}


.special-section h3{
    padding: 30px 50px;
    width: 40%;
    margin: auto;
    background-image: url(../img/stars.svg);
    background-position: center;
    background-size:cover;
}
.special-section img{
    width: 100%;
}
.special-section p{
    width: 90%;
    margin: auto;
}
.special-section .button{
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: #8d9ddd;
}

/* FOOTER, PARTE PRE HR */
.col-footer-big{
    width: 25%;
    float: left;
}
.col-footer-little{
    width: calc(75% / 4 );
    float: left;
    
}
footer{
    padding: 100px 0;
    background-color: #282b2e;
    color: white;
}
footer h3{
    color: #7083d3;
    font-size: 36px;
}
footer ul li{
    list-style-type: none;
    line-height: 30px;
    
}
footer ul li:first-child{
    color: #7083d3;
    font-weight: bold;
}
footer .language {
    margin: 20px 0;
    
}
footer .language img{
    height: 16px;
    vertical-align:middle;
}
footer .language:after{
    content: "⏷";
}
footer .icons i{
    margin-right: 20px;
}
/* PARTE POST HR DEL FOOTER */
footer hr{
    color: #7083d3;
    margin-top: 20px;
}

footer .button{
    float:right;
    margin-top:20px;
    color: white;
    background-color: #7083d3;
}
footer .logo{
    float:left;
    margin-top:20px;
}


