/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
.button{
    display: inline-block;
    text-decoration: none;
    padding: 16px;
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: white;
    color: black;
}

/* TYPO */
body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header{
    /* padding: 30px 0; */
    background-color: #3161e0;
}
ul{
    text-align: center;
}


ul, header li,header li a,.login-button{
    display: inline-block;
}

/* HERO SECTION */
.hero{
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero.wrapper{
    text-align: center;
    background-image: none;
    max-width: 800px;
    margin:auto;
    padding:200px 0;
    color: white;
}
.hero h1{
    padding-bottom: 50px;
    font-size: 48px;
}
.hero p{
    padding-bottom:25px;
}
.hero.wrapper a {
    margin: 0 20px;
}
.hero.wrapper a:last-child{
    color: white;
    background-color: black;
}
