/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
.button{
    display: inline-block;
    text-decoration: none;
    padding: 16px;
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: white;
    color: black;
}
.col-big,.col-little{
    float: left;
}
.col-big{
    max-width: 75%;
}
.col-little{
    max-width: 25%  ;
}

/* TYPO */
body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header{
    /* padding: 30px 0; */
    background-color: #3161e0;
}
ul{
    text-align: center;
}


ul, header li,header li a,.login-button{
    display: inline-block;
}

/* HERO SECTION */
.hero{
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero.wrapper{
    text-align: center;
    background-image: none;
    max-width: 800px;
    margin:auto;
    padding:200px 0;
    color: white;
}
.hero h1{
    padding-bottom: 50px;
    font-size: 48px;
}
.hero p{
    font-weight: bold;
    padding-bottom:25px;
}
.hero.wrapper a {
    margin: 0 20px;
}
.hero.wrapper a:last-child{
    color: white;
    background-color: black;
}

/* SECTION 1 */
.wrapper{
    max-width: 1300px;
    margin:auto;
}
section{
    padding: 150px 0;
}
section:nth-child(2n + 1){
    background-color: #f6f6f6;
}
section h2{
    font-size: 48px;
    margin-top: 40px;
}
section p{
    padding-top: 30px;
    font-size: 20px;
    line-height: 30px;
}
section:last-of-type{
    text-align: center;
}
.second-section .col-little{
    margin-right: 140px;
}
.col-little{
    margin-left: 140px;
}

.special-section h3{
    padding: 30px 50px;
    width: 40%;
    margin: auto;
    background-image: url(../img/stars.svg);
    background-position: center;
    background-size:cover;
}
.special-section img{
    width: 100%;
}
.special-section p{
    width: 90%;
    margin: auto;
}
.special-section .button{
    margin-top: 30px;
    color: white;
    background-color: #8d9ddd;
}
